div#head-wrapper{
    background-color: #222;
    color:white;
    display: flex;
    flex-direction: row;
    padding: 0px 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}

body{
    margin: 0px;
    padding: 0px;
}

nav#right-nav{
    align-items: center;
    margin: 0px;
}

nav#right-nav a{
    font-family: 'Roboto', sans-serif;
    color:white;
    text-decoration: none;
    outline: 0px;
    display: block;
    padding: 16px;
}

nav#right-nav a:hover{
    color:gray;
    cursor: pointer;
}

#home-blog-title a{
    text-decoration: none;
    color: blue;
    outline: 0px;
}

#home-blog-title a:hover{
    color:red;
}

article#content{
    margin: 0px 20px;
}

header#main-page-header{
    font-size: 12px;
}

header#main-page-header h1{
    margin: 0px;
    font-family: 'Sriracha', cursive;
}

nav#right-nav ul{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}

nav#right-nav li{
    float: left;
}

nav#right-nav li a:hover{
    background-color: #000;
    color: white;
}

.no-select {
    -webkit-touch-callout: none; 
      -webkit-user-select: none;
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }

p#is-logged{
    color:green;
    font-size: 18px;
    font-weight: bold;
}

p#not-logged{
    color: red;
    font-size: 18px;
    font-weight: bold;
}

