{% extends 'base.html' %}

{% block title %}
    <title>Simple Blog</title>
{% endblock title %}

{% block header_content %}
    <h1 id = "page-header">Simple Blog</h1>
    {% block right_nav_content %}
        <a href="{% url 'create_post' %} " id="right-nav">+New Post</a>
    {% endblock right_nav_content %}
{% endblock header_content %}

{% block content %}
    {% for post in object_list %}    
        <h2 id = "home-blog-title">
            <a href = "{% url 'post' post.pk %}">{{ post.title }}</a>
        </h2>
        {{ post.short_text }}
    {% endfor %}
{% endblock content %}