{% extends 'base.html' %}

{% block title %}
    <title>Simple Blog</title>
{% endblock title %}

{% block header_content %}
    <h1 id = "page-header">Simple Blog</h1>
{% endblock header_content %}

{% block right_nav_content %}
    <ul>
        <li><a>About us</a></li>
        <li><a href="{% url 'login' %}">Sign in</a></li>
        <li><a>Sign up</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
        {% endif %}
        <li><a href="{% url 'create_post' %}">+New Post</a></li>
    </ul>
{% endblock right_nav_content %}

{% block content %}
    {% if user.is_authenticated %}
        <p id="is-logged">Hi, {{ user.username }} !</p>
    {% else %}
        <p id="not-logged">You are not logged!</p>
    {% endif %}
    {% for post in object_list %}    
        <h2 id = "home-blog-title">
            <a href = "{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        </h2>
        {{ post.short_text }}
    {% endfor %}
{% endblock content %}