{% extends 'base.html' %}

{% block title %}
    <title>{{ post.title }}</title>
{% endblock title %}

{% block header_content %}
    <h1 id = "page-header">{{ post.title }}</h1>
{% endblock header_content %}

{% block right_nav_content %}
    <ul>
        <li><a href="{% url 'home' %}" id="right-nav">Back to home</a></li>
        <li><a href="{% url 'update_post' post.pk %}">Edit post</a></li>
        <li><a href="{% url 'delete_post' post.pk %}">Delete post</a></li>
    </ul>
{% endblock right_nav_content %}

{% block content %}
    {{ post.full_text }}
{% endblock content %}