{% extends 'base.html' %}

{% block title %}
    <title>Delete post</title>
{% endblock title %}

{% block header_content %}
    <h1 id="page-header">Delete post</h1>
{% endblock header_content %}

{% block right_nav_content %}
    <a href="{% url 'post_detail' post.pk %}">Back to post</a>
{% endblock right_nav_content %}

{% block content %}
    <form action="" method="POST"> {% csrf_token %}
        <p>Are you sure you want to delete {{ post.title }}?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock content %}